extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen de nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue lectus, sollicitudin a dolor sed, laoreet dapibus quam. Donec sit amet diam vehicula, condimentum odio at, lobortis ligula. Integer malesuada ligula in urna vehicula vestibulum. Vivamus eget ante sed ipsum malesuada egestas. Etiam convallis justo ut massa bibendum, id cursus dui elementum. Integer rutrum justo sed dolor ornare consectetur. Curabitur sit amet sapien libero. Vivamus efficitur, nunc a fringilla ullamcorper, mi ex accumsan nulla, vitae commodo eros felis ut nibh. Nullam ut leo justo. 

                p Nulla venenatis condimentum felis. Nunc eu volutpat turpis. Donec id ultrices nibh, dictum tristique tortor. Morbi sodales, quam sit amet rutrum feugiat, turpis purus volutpat est, consectetur dignissim urna neque at augue. Nam ut ullamcorper augue. Maecenas egestas ultricies laoreet. Quisque lobortis eros vitae dignissim porttitor. Sed scelerisque vulputate dui sed feugiat. In vestibulum, ex nec accumsan gravida, quam diam pulvinar velit, sit amet venenatis libero nunc ac est. Proin in consequat dui. Suspendisse ut mi sit amet leo pellentesque laoreet mattis sit amet turpis. 
                
                p Integer vitae consectetur lacus, non egestas purus. Duis luctus ligula vitae lacinia dignissim. Nullam eu blandit ligula, at finibus nibh. Proin egestas finibus ex, eu pretium augue tincidunt at. Suspendisse vestibulum nisl sem, vulputate cursus orci faucibus id. Ut eget augue nibh. Aenean eu finibus purus. Vivamus at nulla nunc. Praesent eget tincidunt risus, nec tempor dolor. Duis luctus lectus vel consectetur finibus. Vivamus at dictum augue, vel consequat lorem. 
                                
                                
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb4 Seguridad
                    p Praesent eget tincidunt risus, nec tempor dolor. Duis luctus lectus vel consectetur finibus. Vivamus at dictum augue, vel consequat lorem.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb4 Mejores destinos
                    p Praesent eget tincidunt risus, nec tempor dolor. Duis luctus lectus vel consectetur finibus. Vivamus at dictum augue, vel consequat lorem.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb4 Mejores precios
                    p Praesent eget tincidunt risus, nec tempor dolor. Duis luctus lectus vel consectetur finibus. Vivamus at dictum augue, vel consequat lorem.